[submodule "third_party/JUCE"]
	path = third_party/JUCE
	url = https://github.com/juce-framework/JUCE.git
	shallow = true
[submodule "third_party/tracktion_engine"]
	path = third_party/tracktion_engine
	url = https://github.com/Tracktion/tracktion_engine.git
	shallow = true
